.action-button{
    cursor: pointer;
    transition: all .5s;
}
.action-button:hover{
    color: red;
    transition: all .5s;
}

.errors ul{
    padding: 20px 0;
    list-style-type: none;
    color: red;
}
.app-main-part{
    padding-top: 20px;
}
.chart-page{
    margin-top: 40px;
}
